{% extends 'base_deal.html' %}

{% block title %}{% if is_edit %}Изменить затраты{% else %}Добавить затраты к услуге{% endif %}{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">{% if is_edit %}Изменить затраты{% else %}Добавить затраты к услуге{% endif %}</div>
          <div class="card-body">
          {% load user_filters %} {# Загружаем фильтры #}
              {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
              {% endif %}

              <form method="post" action="
                    {% if is_edit %}
                      {% url 'dealcard:edit_expense' expense_id %}?deal_id={{ deal_id }}&member_id={{ member_id }}
                    {% else %}
                      {% url 'dealcard:add_expense' %}?deal_id={{ deal_id }}&product_id={{ product_id }}&member_id={{ member_id }}
                    {% endif %}">
              {% csrf_token %}
              {# Выводим поля в цикле, по отдельности #}
              {% for field in form %}
                <div class="form-group row my-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {# К полю ввода добавляем атрибут class #}
                  {% if field|fieldtype == 'Select' %}
                    {{ field|addclass:'form-select shadow-none' }}
                  {% else %}
                    {{ field|addclass:'form-control shadow-none' }}
                  {% endif %}
                    {% if field.help_text %}
                      <small
                         id="{{ field.id_for_label }}-help"
                         class="form-text text-muted"
                      >
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
                </div>
              {% endfor %}
              <div class="col-md-6 offset-md-4">
                <button
                        type="submit"
                        class="btn btn-primary shadow-none"
                >
                  {% if is_edit %}Сохранить{% else %}Добавить{% endif %}
                </button>
                <a
                        href="{% url 'dealcard:card' %}?member_id={{ member_id }}&deal_id={{ deal_id }}"
                        class="btn btn-danger shadow-none"
                >
                  Отмена
                </a>
              </div>
            </form>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
  </div> <!-- row -->

  <div class="modal fade" id="modal_calc" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Расчет суммы</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="count" class="col-form-label">Количество:</label>
              <input type="text" class="form-control" id="count" onkeyup="calculate_sum()" value="0">
            </div>
            <div class="mb-3">
              <label for="price" class="col-form-label">Цена:</label>
              <input type="text" class="form-control" id="price" onkeyup="calculate_sum()" value="0">
            </div>
            <div class="mb-3">
              <label for="sum" class="col-form-label">Сумма:</label>
              <input type="text" class="form-control" id="sum">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-success" id="btn_save_sum">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block resize %}
  <script>
    $("#id_expense").focus(function() {
      const modal = new bootstrap.Modal(document.querySelector('#modal_calc'));
      modal.show();
    });

    $("#btn_save_sum").on("click", function () {
        document.getElementById("id_expense").value = document.getElementById("sum").value;
    })

    function calculate_sum() {
        const count = document.getElementById("count");
        const price = document.getElementById("price");
        const sum = document.getElementById("sum");
        sum.value = count.value * price.value;
    }

    $(document).ready(function ()
    {
        $('#id_company').select2({
            theme: "bootstrap-5",
            selectionCssClass: "shadow-none",
        });
        $('#id_cost_item').select2({
            theme: "bootstrap-5",
            selectionCssClass: "shadow-none",
        });
        $('#id_employee').select2({
            theme: "bootstrap-5",
            selectionCssClass: "shadow-none",
        });
        $('#id_cargo').select2({
            theme: "bootstrap-5",
            selectionCssClass: "shadow-none",
        });
        $('#id_type_cost').select2({
            theme: "bootstrap-5",
            selectionCssClass: "shadow-none",
        });
    });
  </script>
  <script type="text/javascript">
    BX24.resizeWindow(1024, 860);
  </script>
{% endblock %}