{% extends 'base_deal.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row row-cols-2 row-cols-lg-4 row-cards">
      <div class="col">
        <div class="card card-calc text-center">
          <div class="card-header blue">
            <span>Выручка, руб.</span>
          </div>
          <div class="card-body">
            <span>{{ calculations.proceeds }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-calc text-center">
          <div class="card-header blue">
            <span>Затраты, руб.</span>
          </div>
          <div class="card-body">
            <span>{{ calculations.sum_expenses }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-calc text-center">
          <div class="card-header blue">
            <span>Прибыль, руб.</span>
          </div>
          <div class="card-body">
            <span>{{ calculations.income }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-calc text-center">
          <div class="card-header blue">
            <span>Рентабельность, %</span>
          </div>
          <div class="card-body">
            <span>{{ calculations.profitability }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% load user_filters %}
    {% for product in bx24_obj.deal_products %}
      <table class="table table-border table-margin-top table-products">
        <thead>
          <tr>
            <th class="col-1" scope="col">#</th>
            <th class="col-3" scope="col">Наименование услуги</th>
            <th class="col-2" scope="col">Цена, руб.</th>
            <th class="col-1" scope="col">Кол-во</th>
            <th class="col-2" scope="col">Сумма без НДС, руб.</th>
            <th class="col-1" scope="col">НДС, %</th>
            <th class="col-2" scope="col">Сумма с НДС, руб.</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-green">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ product.PRODUCT_NAME }}</td>
            <td>{{ product.PRICE_EXCLUSIVE|floatformat:2 }}</td>
            <td>{{ product.QUANTITY }}</td>
            <td>{% multiply product.PRICE_EXCLUSIVE product.QUANTITY %}</td>
            <td>{{ product.TAX_RATE }}</td>
            <td>{% multiply product.PRICE product.QUANTITY %}</td>
          </tr>
        </tbody>
      </table>
      <div class="card card-expenses">
        <div class="card-header">
          Затраты
        </div>
        <div class="card-body">
          <table class="table table-border table-striped">
            <thead>
              <tr>
                <th scope="col" width="30%">Статья затрат</th>
                <th scope="col" width="10%">Сумма, руб.</th>
                <th scope="col" width="10%">Груз</th>
                <th scope="col" width="10%">Компания</th>
                <th scope="col" width="10%">Сотрудник</th>
                <th scope="col" width="10%">Вид оплаты</th>
                <th scope="col" width="10%">Документ</th>
                <th scope="col" width="10%">Действия</th>
              </tr>
            </thead>
            <tbody>
              {% load user_filters %}
              {% for expense in expenses %}
                {% if expense.product_id == product.ID|to_int %}
                  <tr>
                    <td>{{ expense.cost_item }}</td>
                    <td>{{ expense.expense}}</td>
                    <td>{{ expense.cargo|emptyvalue }}</td>
                    <td>{{ expense.company|emptyvalue }}</td>
                    <td>{{ expense.employee|emptyvalue }}</td>
                    <td>{{ expense.type_cost|emptyvalue }}</td>
                    <td>{{ expense.document|emptyvalue }}</td>
                    <td>
                      <a
                              href="{% url 'dealcard:edit_expense' expense.pk %}?deal_id={{ deal_id }}&member_id={{ portal.member_id }}"
                              class="btn btn-primary shadow-none btn-small"
                              title="Изменить"
                      >
                        🗘
                      </a>
                      <a
                              href="{% url 'dealcard:add_expense' %}?deal_id={{ deal_id }}&product_id={{ product.ID }}&member_id={{ portal.member_id }}&expense={{ expense.pk }}"
                              class="btn btn-info shadow-none btn-small"
                              title="Копировать"
                      >
                        📑
                      </a>
                      <a
                              href="{% url 'dealcard:delete_expense' expense.pk %}?deal_id={{ deal_id }}&member_id={{ portal.member_id }}"
                              class="btn btn-danger shadow-none btn-small"
                              title="Удалить"
                      >
                        ✖
                      </a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <a
                  href="{% url 'dealcard:add_expense' %}?deal_id={{ deal_id }}&product_id={{ product.ID }}&member_id={{ portal.member_id }}"
                  class="btn btn-primary shadow-none"
          >
            Добавить затраты к услуге
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
