<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Краткое описание страницы">
    <title>Приложение Затраты</title>
    <!-- Загружаем фав-иконки -->
    {% include 'includes/head_icons.html' %}
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body style="font-family: Montserrat;">
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/scripts.html' %}
  </body>
</html>