<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/meta_tags.html'%}
    {% include 'includes/head_icons.html' %}
    <title>{% block title %}Приложение Затраты {% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/scripts.html' %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>