body {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #545C6F;
}

nav span {
    color: white;
    font-weight: bold;
}

table td{
    color: #545C6F !important;
}

.table-products {
    font-size: 14px;
}

.table-margin-top {
    margin-top: 30px;
}

.tr-green {
    background-color: #9ECE00;
}

.navbar-light {
    background-color: #3BC8F5;
}

.footer {
    background-color: #3BC8F5;
    margin-top: 50px;
    color: white;
}

.errorlist {
    color: #FF5B55;
}

.select-size-10 {
    height: 15em;
}

.card-stretch {
    width: 100%;
}

.card-header {
    background-color: #FF5B55;
    color: white;
}

.card-header.blue {
    background-color: #3BC8F5;
}

.card.card-calc {
    font-size: 14px;
    font-weight: bold;
}

.card.card-expenses {
    font-size: 12px !important;
}

.card.card-expenses a {
    font-size: 12px;
}

.btn-danger {
    background-color: #FF5B55;
    color: white;
    border-color: #FF5B55;
}

.btn-primary {
    background-color: #3BC8F5;
    color: white;
    border-color: #3BC8F5;
}

.btn-small {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.row-cards {
    margin-top: 50px;
}

form select {
    color: #545C6F !important;
}

.alert-success {
    background-color: #9ECE00;
    color: white;
}

.list-group-item {
    color: #545C6F;
}

.select2-container--bootstrap-5 {
    padding: 0;
}