{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

  {% load user_filters %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2" style="margin-top: 50px">
      <div class="col">
        <div class="card">
          <div class="card-header"
               style="background-color: #EC673A; color: white;">
            Статьи затрат
          </div>
          <div class="card-body">
            <form action="{% url 'mainpage:index' %}" method="post">
              <div class="container" style="margin-bottom: 20px">
                {{ list_cost_item_form.cost_items|addclass:'form-select shadow-none select-size-10' }}
              </div>
              <div class="d-flex flex-row-reverse">
                <input
                        type="submit"
                        name="del_cost_item"
                        class="btn btn-danger shadow-none"
                        style="margin-left: 3px"
                        value="Удалить"
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="card" style="width: 100%;">
          <div class="card-header"
               style="background-color: #EC673A; color: white;">
            Добавить Статью затрат
          </div>
          <div class="card-body">
            <div class="container">
              <!-- Форма добавления Статьи затрат -->
              <form action="{% url 'mainpage:index' %}" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1"
                         class="form-label">
                    {{ add_cost_item_form.name.label }}</label>
                  {{ add_cost_item_form.name.errors }}
                  {{ add_cost_item_form.name|addclass:'form-control shadow-none' }}
                  <div class="form-text">
                    {{ add_cost_item_form.name.help_text }}
                  </div>
                </div>
                <div class="d-flex flex-row-reverse">
                  <input
                          type="submit"
                          name="add_cost_item"
                          class="btn btn-primary shadow-none"
                          style="background-color: #5895CE; margin-left: 3px"
                          value="Добавить"
                  >
                </div>
              </form>
              <!-- Конец Форма добавления Статьи затрат -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2" style="margin-top: 20px">
      <div class="col">
        <div class="card">
          <div class="card-header"
               style="background-color: #EC673A; color: white;">
            Отчеты
          </div>
          <div class="card-body">
            <div class="list-group">
              <a href="https://yandex.ru"
                 class="list-group-item list-group-item-action">Сформировать
                Отчет 1</a>
              <a href="#" class="list-group-item list-group-item-action">Сформировать
                Отчет 2</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="card" style="width: 100%;">
          <div class="card-header"
               style="background-color: #EC673A; color: white;">
            Действия Бизнес-процессов
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4 d-flex align-items-center
              justify-content-center">
                <div class="col-4 alert alert-success flex-fill" role="alert"
                     style="margin-bottom: 0;">
                  Установлено
                </div>
              </div>
              <div class="col-4 d-flex align-items-center
              justify-content-center">
                <button type="button"
                        class="btn btn-primary shadow-none flex-fill"
                        style="background-color: #5895CE; margin-left: 3px"
                        data-bs-toggle="modal"
                        data-bs-target="#addCostItemModal">
                  Установить
                </button>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center">
                <button type="button"
                        class="btn btn-danger shadow-none flex-fill"
                        style="margin-left: 3px" data-bs-toggle="modal"
                        data-bs-target="#addCostItemModal">
                  Удалить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}