{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

  {% load user_filters %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cards">
      <!-- Карточка списка статей затрат -->
      <div class="col">
        <div class="card card-stretch">
          <div class="card-header">
            Статьи затрат
          </div>
          <div class="card-body">
            <form action="{% url 'mainpage:index' %}?member_id={{ member_id }}" method="post">
              {% csrf_token %}
              {{ list_cost_item_form.name|addclass:'form-select shadow-none select-size-10' }}
              <div class="d-flex flex-row-reverse">
                <input
                        type="submit"
                        name="del_cost_item"
                        class="btn btn-danger shadow-none"
                        value="Удалить"
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Конец карточки списка Статей затрат -->
      <!-- Карточка добавления статей затрат -->
      <div class="col d-flex align-items-stretch">
        <div class="card card-stretch">
          <div class="card-header">
            Добавить Статью затрат
          </div>
          <div class="card-body">
            <div class="container">
              {% if add_cost_item_form.errors %}
                {% for field in add_cost_item_form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in add_cost_item_form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endif %}
              <form action="{% url 'mainpage:index' %}?member_id={{ member_id }}" method="post">
                {% csrf_token %}
                {% for field in add_cost_item_form %}
                  <div class="form-group row my-3">
                    {% if not field.is_hidden %}
                      <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                          {% if field.field.required %}
                            <span class="required text-danger">*</span>
                          {% endif %}
                      </label>
                    {% endif %}
                    {# К полю ввода добавляем атрибут class #}
                    {% if field|fieldtype == 'Select' %}
                      {{ field|addclass:'form-select shadow-none' }}
                    {% else %}
                      {{ field|addclass:'form-control shadow-none' }}
                    {% endif %}
                      {% if field.help_text %}
                        <small
                           id="{{ field.id_for_label }}-help"
                           class="form-text text-muted"
                        >
                          {{ field.help_text|safe }}
                        </small>
                      {% endif %}
                  </div>
                {% endfor %}
                <div class="d-flex flex-row-reverse">
                  <input
                          type="submit"
                          name="add_cost_item"
                          class="btn btn-primary shadow-none"
                          value="Добавить"
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Конец карточки добавления Статей затрат -->
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cards">
      <!-- Карточка Отчетов -->
      <div class="col">
        <div class="card card-stretch">
          <div class="card-header">
            Отчеты
          </div>
          <div class="card-body">
            <div class="list-group">
              <a href="https://yandex.ru"
                 class="list-group-item list-group-item-action">Сформировать
                Отчет 1</a>
              <a href="#" class="list-group-item list-group-item-action">Сформировать
                Отчет 2</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Конец карточки Отчетов -->
      <!-- Карточка БП -->
      <div class="col d-flex align-items-stretch">
        <div class="card card-stretch">
          <div class="card-header">
            Действия Бизнес-процессов
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4 d-flex align-items-center
              justify-content-center">
                <div class="col-4 alert alert-success flex-fill" role="alert">
                  Установлено
                </div>
              </div>
              <div class="col-4 d-flex align-items-center
              justify-content-center">
                <button type="button"
                        class="btn btn-primary shadow-none flex-fill"
                        data-bs-toggle="modal"
                        data-bs-target="#addCostItemModal">
                  Установить
                </button>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center">
                <button type="button"
                        class="btn btn-danger shadow-none flex-fill"
                >
                  Удалить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Конец карточки БП -->
    </div>
  </div>
{% endblock %}